/*.hero-banner-wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  // height: 650px;
}
.hero-banner {
  //width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  // height: 100%;
}
.hero-intro {
  @include flex($direction: column, $justify: center, $align: flex-start);
  transition: all 1s ease-in-out;
}
.hero-image-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  //height: 530px;
  transition: transform 1s ease-in-out;

  .hero-image {
    height: 100%;
    z-index: 2;
    margin-top: 100px;
  }
}

.half-circle-image {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  width: 479px;
  z-index: -1;
  right: -170px;

  &::after {
    @include half-circle;
    width: 75%;
    height: 495px;
    left: 0;
    top: 185px;
  }

  &::before {
    @include half-circle;
    width: 50%;
    height: 344px;
    top: 266px;
    left: 13px;
  }
}

.social-icons {
  position: absolute;
  border: 1px solid var(--color-white);
  height: 413px;
  margin: auto;
  top: 229px;
  right: -14px;
  width: 343px;
  border-bottom-right-radius: 378px;
  border-top-right-radius: 354px;
  border: 1px solid var(--color-white);

  .github {
    position: relative;
    @include icons($top: -25px, $left: 161px);
  }
  .linkdin {
    position: relative;
    @include icons($top: 80px, $left: 221px);
  }
  .twitter {
    position: relative;
    @include icons($top: 238px, $left: 177px);
  }
}
.top-left {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: -1;

  &::after {
    @include top-half-circle(100%, -2px, 0px);
  }
  &::before {
    @include top-half-circle(90%, -2px, -13%);
  }
}

@media screen and (max-width: 1200px) {
  .hero-image-wrapper {
    height: 600px;

    .half-circle-image {
      right: -237px;
    }
    .social-icons {
      right: -88px;
    }
  }
}

@media screen and (max-width: 1044px) {
  .hero-banner-wrapper {
    height: auto;
    margin-bottom: 45px;

    .hero-banner {
      flex-direction: column-reverse;
      height: auto;
      gap: 40px;

      .hero-intro {
        margin-top: 0px;
      }
    }
  }

  .hero-image-wrapper {
    width: 400px;
    margin: auto;

    .half-circle-image {
      right: -250px;
      top: -53px;

      &::before {
        width: 50%;
        height: 276px;
      }
      &::after {
        width: 75%;
        height: 432px;
      }
    }

    .social-icons {
      right: -79px;
      top: 162px;
      height: 375px;
      width: 300px;

      .linkdin {
        left: 193px;
      }
      .twitter {
        left: 128px;
      }
    }

    .hero-image {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 700px) {
  .hero-image-wrapper {
    width: 330px;
    height: 478px;

    .half-circle-image {
      display: none;
    }
    .social-icons {
      right: -6px;
      top: 29px;
      height: 291px;
      width: 192px;

      .github {
        top: -8px;
        left: 83px;
      }

      .linkdin {
        left: 123px;
        top: 61px;
      }
      .twitter {
        left: 93px;
        top: 160px;
      }

      .github-icon,
      .linkdin-icon,
      .twitter-icon {
        padding: 6px;
        font-size: 35px;
      }
    }
  }
  .top-left {
    width: 155px;
    height: 114px;
  }
}
