@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin half-circle{
  position: absolute;
  content: "";
  border-bottom-right-radius: 350px;
  border-top-right-radius: 350px;
  border: 1px solid var(--half-circle-border-color);
}

@mixin icons($top, $left){
  position:relative;
  top: $top;
  left: $left;
  z-index: 2;
}

@mixin top-half-circle($width,$left,$top){
  position: absolute;
  content: "";
  border-bottom-right-radius: 154px;
  height: 90%;
  width:$width;
  top:$top;
  left:$left;
  border: 1px solid var(--half-circle-border-color);
}

@mixin input($height){
  height: $height;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--bg-color-extra-light);
  border-radius: 20px;
  color: var(--color-white);
  font-size: 19px;
  letter-spacing: 1px;
  font-family: var(--font-family-worksans);
  &:focus{
    outline: none;
  }
}

.translate-right{
  transform: translateX(100%);
  opacity: .1;
}

.translate-left{
  transform: translateX(-100%);
  opacity: .1;
}
.transition-ease{
  transition: all 1s ease-in-out;
}
.translate-up{
  transform: translateY(200px);
  opacity: .1;
}
.translate-contact{
  transform: translateY(0px);
  opacity: .1;
}